<div class="row header">
  <div class="col">
    <h1>Hours of Service</h1>
  </div>
  <div class="col d-flex justify-content-end">
    <div ngbDropdown>
      <button
        type="button"
        class="d-flex btn btn-outline-primary justify-content-between align-items-center"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        <div class="profile">
          <div class="circle"></div>
          <span>Username</span>
        </div>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>My Profile</button>
        <button ngbDropdownItem (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
